.intro {
    background-image: linear-gradient(to bottom, rgba($white, .7), rgba($white, .9)), url(/img/leafy-bg-bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top:10rem;
    color:$dark-grey-2;

    
    &__content {
        display:flex;
        align-items:center;
        flex-direction: column;
    }

    &__img {
        border-radius:50%;
    }
}
.web {
    background: $dark-grey-2;
    color:$light-grey-1;
    position:relative;

}