.btn {
    padding: 1rem;
    color:inherit;
    text-decoration:none;
    margin:.5rem;
    margin-right:1.5rem;
    &--outline {
        background:inherit;
        border: .3rem solid $light-grey-1;
        border-radius:.8rem;
        box-shadow:.3rem .3rem .5rem 0px $black;
        
    }
}