.project {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:flex-start;

    &__title {
        display:block;
        font-weight:400;
        font-size:3rem;
    }

    &__text {
        flex:1;

    }

    &__subtitle {
        display:block;
        font-size:2.2rem;
    }

    &__preview {
        margin:3rem;
        flex: 1;
        display:flex;
        flex-direction:column;
        
        
        & img {
            border-radius:.8rem;
            box-shadow: .3rem .3rem .5rem 0px $black;
            width:100%;
        }
    }
    &__buttons {
        display:flex;
        height:5rem;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        margin-top:2rem;
    }

}