.nav {
    width:100%;
    color:$white;
    background-image:linear-gradient(145deg, rgba($color-primary-mid, 1), rgba($color-primary-light, 1));
    display:flex;
    justify-content: space-between;
    align-items:center;


    
    &__menu {
        position:relative;
        transition:all .2s;

        &::before, &::after {
            width:3.4rem;
            content: " ";
            height: 0.2rem;
            position:absolute;
            background: $white;
        }
        &::before {
            top:-.1rem;
        }

        &:hover {
            cursor:pointer;
        }
        &:hover::before {
            transform:translateY(-.3rem);
        }
        &:hover::after {
            transform:translateY(.3rem);
        }
    }
}