.nav {

    position:sticky;
    width:100%;
    background: $white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
    &__menu {
        position:relative;
        transition:all .2s;

        &::before, &::after {
            width:3.4rem;
            content: " ";
            height: 0.2rem;
            position:absolute;
            background: $dark-grey-1;
        }
        &::before {
            top:-.1rem;
        }

        &:hover {
            cursor:pointer;
        }
        &:hover::before {
            transform:translateY(-.3rem);
        }
        &:hover::after {
            transform:translateY(.3rem);
        }
    }
}